@use '_variables' as *
    

body
    font-family: 'Afacad', 'Jost', 'Poppins', sans-serif 
    overflow: hidden


#Blackground_Blur
    
    position: absolute
    top: 0
    left: 0
    height: 100vh
    width: 100vw
    filter: blur(4.2vw)
    z-index: 0

    @media (max-width: 800px) 
        filter: blur(12vw)

    
    #Background_Plate


        background-color: $Global_White

        .Back_Vect // His is the class of all the vectors in the Back plate
        
            width: 100vw
            height: 100vh
            fill: none

            stroke: $Educator_Low
            stroke-linecap: round

            #Vect_Main 
                stroke-width: 50px

            #Vect_Sub 
                stroke-width: 25px
                
#Socials_Panel

    //Alignment Properties 
    position: fixed 
    display: flex
    flex-direction: column
    justify-content: center
    
    // Panel Alignments 
    left: 0
    top: 10vh
    width: 5vw
    min-width: 70px
    height: 70vh

    @media (max-width: 900px)
        width: 9vw
        height: 50vh


    // This is when u try to assign Sass Variable to Css property
    //Gradient of the Element can be defined anywhere
    --start-color:  #{$Educator_Low} 
    --end-color: #{$Educator_High}
    
    #Social_Main_Vect
        
        position: absolute
        fill: url(#Element_Grad)
        height: 100%
        width: 100%  // They are relative to the Social_Panel
        z-index: 0 

    #Social_Icons

        position: relative
        height: 85%
        width: auto

        display: flex
        flex-direction: column
        align-items: center

        a // The anchor takes 55% of the div 
            display: block
            height: 55%
            width: 55%

        svg //And the svg takes the 100% of the anchors
            fill: $Global_White
            height: 100%
            width:  100%
            
nav

    position: relative
    display: flex
    align-content: center
    justify-content: center

    top: -10px
    left: 15vw

    height: 6.5vh 
    width:  52vw

    svg // The Vector in which everything is 
        
        position: absolute
        height: 100%
        width: 100%

        fill: none
        stroke: $Global_Black
        stroke-width: 1vh

    ul
        
        display: flex 
        align-content: center
        justify-content: space-evenly
        align-items: center
        gap: 4vw
        // Make it Responsive
        
        list-style: none
        margin: 0
        padding: 0
        height: 90%
        width: 90%

    a 
        font-size: 1.6rem
        //Make it more responsive

        text-decoration: none
        font-weight: 600
        color: $Global_Black

#Identity_Panel

    display: flex
    position: absolute

    top: 0px
    right: 0px

    height: 100vh
    width: 53vw
    
    @media (max-width: 900px)
        width: 90vw

    svg
        
        position: absolute
        width: 100%
        height: 100%
        fill: url(#Element_Grad)
        z-index: 0


    img 
        position: absolute
        right: 12vw
        bottom: 0px
    
        z-index: 1

        width: 37vw
        height: 85vh

        @media (max-width: 900px)
            // Make it more nice!
            right: 20vw
            width: 65vw
            height: 55vh


